* {
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    cursor: url("./images/cursor.png"), auto;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,  
  input::-webkit-inner-spin-button {   
    -webkit-appearance: none;           
    margin: 0;
  }
    /* isme yese isliye use kiye hai ki jo hmari productDetails me number of products increase ya decrease krni thi oo ek structure way me ho jaaye saare browser ke liye */
  /* isse yaad kr lena hai .. ua copy paste kr dena hai ... */
    /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .greenColor {
    color: green !important;
  }
  .redColor {
    color: red !important;
  }
  